<%
    var big_title = "指紋機設備設定";
    var title_bar = "指紋機資料維護";
    var submit_but = "確認";
%>
	<div id="wrapper">
        <%- partial("../layout/left") %> 
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header"><%=big_title%></h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<%=title_bar%>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<form role="form" id="form_validation" action="<%=link_to_submit%>">       
<%-: {is_require:true, is_readonly:false,    input_ch:"記錄時間",      id_name:"datetime"}|create_datetime %>
<%-: {is_require:true, is_readonly:false,    input_ch:"環境描述",      id_name:"desc"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"環境溫度",      id_name:"temp"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"環境濕度",      id_name:"humd"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"環境照片上傳",  id_name:"pic_path"}|create_input %>
<%-: {id_name:"type", id_value: "C" } |create_hidden %>
<%-: {id_name:"submit_to_link", id_value: link_to_list } |create_hidden %>

										<a href="<%=link_to_list%>" class="btn btn-default">取消</a>
										<button type="submit" class="btn btn-primary"><%=submit_but%></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
    
<script>

$().ready(function(){    
    //補上驗證
    var input_validation = {
        // 驗證規則
        rules: {
			datetime: {required: true},
			desc: {required: true},
			temp: {
                required: true,
                number: true
            },
			humd: {
                required: true,
                number: true
            },
			pic_path: {required: true},
		}
    }
    check_vailidation( input_validation );
    
});	
</script>
    