<%
    var big_title = "AP資料管理";
    var title_bar = "新增AP資料";
    var submit_but = "確認";
%>
	<div id="wrapper">
        <%- partial("../layout/left") %> 
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header"><%=big_title%></h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<%=title_bar%>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<form role="form" id="form_validation" action="<%=link_to_submit%>">       

<%-: {is_require:true, is_readonly:true,    input_ch:"設備唯一碼", id_name:"id"}|create_input %>
<%-: {is_require:true, is_autocomplete:false, input_ch:"設備型態", id_name:"device_type", input_data:sails.config.myconf.select_device, input_extra:null}|create_select %>
<%-: {is_require:true, is_readonly:false,    input_ch:"平台型態", id_name:"platform_type"}|create_input %>

<%-: {id_name:"type", id_value: "U" } |create_hidden %>
<%-: {id_name:"submit_to_link", id_value: link_to_list } |create_hidden %>

										<a href="<%=link_to_list%>" class="btn btn-default">取消</a>
										<button type="submit" class="btn btn-primary"><%=submit_but%></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
    
<script>

$().ready(function(){   
    //補上相關欄位
    check_default('input'        ,'id'              ,'<%-: find_data, "ds_ap_id" | check_obj %>');
    check_default('select'       ,'device_type'     ,'<%-: find_data, "ds_device_type"   | check_obj %>');
    check_default('input'        ,'platform_type'   ,'<%-: find_data, "ds_platform_type" | check_obj %>');
    

    
    //補上驗證
    var input_validation = {
        // 驗證規則
        rules: {
			id: {required: true},
			device_type: {required: true},
			platform_type: {required: true},
		}
    }
    check_vailidation( input_validation );
    
});	
</script>
    