	<div id="wrapper">
        <%- partial("../layout/left") %> 
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">人員資料管理</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							新增人員資料
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<form role="form">
                                    
<%-: {is_require:false, is_readonly:false,    input_ch:"使用者主鍵", id_name:"human_pk"}|create_input %>
<%-: {is_require:false, is_readonly:true,     input_ch:"生日", id_name:"birthday"}|create_date %>
<%-: {is_require:false, is_autocomplete:true, input_ch:"性別", id_name:"sex", input_data:sails.config.myconf.select_sex, input_extra:null}|create_select %>
<%-: {is_require:false, is_autocomplete:true, input_ch:"血型", id_name:"blood", input_data:sails.config.myconf.select_blood, input_extra:null}|create_select %>
<%-: {is_require:false, is_readonly:false,    input_ch:"工作", id_name:"job"}|create_input %>
<%-: {is_require:true,  is_readonly:false,    input_ch:"顯示名稱", id_name:"name"}|create_input %>
<%-: {is_require:false, is_readonly:false,    input_ch:"他方系統代號", id_name:"other_id"}|create_input %>
<%-: {is_require:false, is_readonly:false,    input_ch:"管理者註記", id_name:"manager_note"}|create_input %>
<%-: {is_require:false, is_readonly:false,    input_ch:"刪除註記", id_name:"delete_note"}|create_input %>

										<a href="<%=link_to_list%>" class="btn btn-default">取消</a>
										<button type="submit" class="btn btn-primary">確定</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->