<%
    var big_title = "指紋機設備設定";
    var title_bar = "指紋機資料維護";
    var submit_but = "確認";
%>
	<div id="wrapper">
        <%- partial("../layout/left") %> 
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header"><%=big_title%></h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<%=title_bar%>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<form role="form" id="form_validation" action="<%=link_to_submit%>">       

<%-: {is_require:true, is_readonly:true,     input_ch:"AP設備唯一碼", id_name:"id", input_data:ap_option, input_extra:null}|create_select %>
<%-: {is_require:true, is_readonly:true,     input_ch:"產品識別碼",    id_name:"device_id"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"廠商識別碼",    id_name:"co_id"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"版本",          id_name:"ver"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"速度",          id_name:"speed"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"製造商",        id_name:"company"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"產品名稱",      id_name:"product"}|create_input %>
<%-: {is_require:true, is_readonly:false,    input_ch:"位置識別碼",    id_name:"addr"}|create_input %>
<%-: {id_name:"type", id_value: "U" } |create_hidden %>
<%-: {id_name:"submit_to_link", id_value: link_to_list } |create_hidden %>

										<a href="<%=link_to_list%>" class="btn btn-default">取消</a>
										<button type="submit" class="btn btn-primary"><%=submit_but%></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
    
<script>

$().ready(function(){    
    //補上相關欄位
    check_default('input'        ,'ap_id'       ,'<%-: find_data, "ds_ap_id"   | check_obj %>');
    check_default('input'        ,'device_id'   ,'<%-: find_data, "ds_device_id" | check_obj %>');
    check_default('input'        ,'co_id'       ,'<%-: find_data, "ds_co_id" | check_obj %>');
    check_default('input'        ,'ver'         ,'<%-: find_data, "ds_ver" | check_obj %>');
    check_default('input'        ,'speed'       ,'<%-: find_data, "ds_speed" | check_obj %>');
    check_default('input'        ,'company'     ,'<%-: find_data, "ds_co" | check_obj %>');
    check_default('input'        ,'addr'        ,'<%-: find_data, "ds_addr" | check_obj %>');
    check_default('input'        ,'product'     ,'<%-: find_data, "ds_product" | check_obj %>');

    //補上驗證
    var input_validation = {
        // 驗證規則
        rules: {
			ap_id     : {required: true},
			device_id : {required: true},
			co_id     : {required: true},
			ver       : {required: true},
			speed     : {required: true},
			company   : {required: true},
			addr      : {required: true},
			product   : {required: true},
		}
    }
    check_vailidation( input_validation );
    
});	
</script>
    