<%
    var big_title = "開發者應用程式模擬介面";
    var bar_title = "應用程式接口";
%>
<div id="wrapper">
    <%- partial("../layout/left") %> 
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header"><%=big_title%></h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">

						<div class="panel-heading">
							<%=bar_title%>
						</div>
						<div class="panel-body">
<%-: {is_require:false, is_autocomplete:true, input_ch:"選擇想要的API", id_name:"choose_API", input_data:sails.config.myconf.select_simulator}|create_select %>
							<hr>
							<div class="row" id="api_item">
								<div class="col-lg-12">
                                
<%-:"Ap_C",["ds_ap_id","ds_device_type","ds_platform_type","ds_push_token"]|create_input_simulator%>
<%-:"Ap_R1",["ds_ap_id","ds_device_type","ds_platform_type"]|create_input_simulator%>
<%-:"Ap_R2",["ds_ap_id"]|create_input_simulator%>
<%-:"Ap_U",["ds_ap_id","ds_device_type","ds_platform_type"]|create_input_simulator%>
<%-:"Ap_D",["ds_ap_id","ds_device_type","ds_platform_type"]|create_input_simulator%>

<%-:"Device_C",["ds_ap_id", "ds_device_id", "ds_co_id", "ds_ver", "ds_speed", "ds_company", "ds_addr", "ds_product"]|create_input_simulator%>
<%-:"Device_R",["ds_ap_id", "ds_device_id"]|create_input_simulator%>
<%-:"Device_U",["ds_ap_id", "ds_device_id", "ds_co_id", "ds_ver", "ds_speed", "ds_company", "ds_addr", "ds_product"]|create_input_simulator%>
<%-:"Device_D",["ds_ap_id", "ds_device_id", "ds_co_id", "ds_ver", "ds_speed", "ds_company", "ds_addr", "ds_product"]|create_input_simulator%>

<%-:"Human_C",["ds_birthday","ds_gender","ds_bloodtype", "ds_job","ds_name","ds_bind_id" ]|create_input_simulator%>
<%-:"Human_R1",["ds_birthday","ds_gender","ds_bloodtype", "ds_job","ds_name","ds_bind_id" ]|create_input_simulator%>
<%-:"Human_R2",["ds_human_pk" ]|create_input_simulator%>
<%-:"Human_U",["ds_human_pk","ds_birthday","ds_gender","ds_bloodtype", "ds_job","ds_name","ds_bind_id" ]|create_input_simulator%>
<%-:"Human_D",["ds_human_pk", "ds_name","ds_bind_id" ]|create_input_simulator%>

<%-:"Nfc_C",["ds_nfc_tag_id","ds_human_pk"]|create_input_simulator%>
<%-:"Nfc_R",["ds_nfc_tag_id"]|create_input_simulator%>
<%-:"Nfc_D",["ds_nfc_tag_id","ds_human_pk"]|create_input_simulator%>

<%-:"Envir_C",["ef_envir_pk","ef_datetime","ef_desc","ef_pic_path","ef_temp","ef_humd"]|create_input_simulator%>
<%-:"Envir_R",["from","to","ef_envir_pk","ef_datetime","ef_desc","ef_pic_path","ef_temp","ef_humd"]|create_input_simulator%>
<%-:"Envir_U",["ef_envir_pk","ef_datetime","ef_desc","ef_pic_path","ef_temp","ef_humd"]|create_input_simulator%>
<%-:"Envir_D",["ef_envir_pk","ef_datetime","ef_desc","ef_pic_path","ef_temp","ef_humd"]|create_input_simulator%>
                                    
									<a href="javascript:;" class="btn btn-default" id="btn-cancel">取消</a>
									<button type="submit" id="btn_submit" class="btn btn-primary">送出</button>
								</div>
							</div><!-- /#api_item -->

						</div>
						<!-- /.panel-body -->
					</div>
				</div>
			</div>
			
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper --> 
    
<form action="" target="_blank"  method="POST"></form>    

<script>
$("#choose_API").on("change",function(){
    $(".input_div").hide();//關閉所有可輸入框
    $(".all_input").val("");//更新時清空已填
    $("."+$("#choose_API :selected").text()).show(); //打開對應可輸入框
});

$("#btn-cancel").on("click",function(){
    $(".all_input").val("");//更新時清空已填
});

$("#btn_submit").on("click",function(){
    if($("#choose_API").val()==""){alert("請先選擇要測試的API")}
    var send_url = $(location).attr('origin')+$("#choose_API").val();    
    $("input", "form").remove(); //先清空資訊
    $("form").attr( "action",send_url ); //更改action位置
    
    var now_div = $("."+$("#choose_API :selected").text());   
    $("input", now_div).each(function(){
        var real_class = $(this).attr("class").replace("form-control ", "").replace(" all_input", "");
        check_default("create_hidden", real_class, $(this).val()); //增加預設值
    });
    $("form").submit(); //送出新頁面
});

</script>
    